# Base packages
streamlit
pandas

# Install fairchem-core first
fairchem-core==2.1.0


# Pin specific versions to override dependencies
numpy
ase
# Install mace_e3nn_new from the main branch on GitHub
git+https://github.com/manassharma07/mace_e3nn_new.git@main#egg=mace_e3nn_new
# mace-torch
py3dmol
huggingface_hub
hf_xet
orb-models
